---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { YouTube } from 'astro-embed';
import { Fragment } from 'astro/jsx-runtime';

const metadata = {
  title: 'Bond Health — Improving Clinical Trial Patient Recruitment',
  ignoreTitleTemplate: true,
};
---

<style>
.new-line {
  display: block;
}
</style>

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/front-page.png', alt: 'Bonding Clinical Trials' }}
  >
    <Fragment slot="title">
      Improving clinical trial patient
      <span class="new-line">recruitment</span>
    </Fragment>

    <Fragment slot="subtitle">
      <div>
        <span class="hidden sm:inline">
          <span class="font-semibold">Bond Health</span>
          <span>&nbsp;is a startup revolutionizing the current clinical trial patient recruitment process.</span>
        </span>
        <span>
          Bond Health streamlines end-to-end clinical trial recruitment by automating personalized patient screening through proprietary LLMs that extract insights from both structured and unstructured electronic health record data.
        </span>
      </div>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Bond Health's services uniquely provide:"
    subtitle=""
    items={[
      {
        title: 'Automated Pre-Screening from EHRs',
        description:
          'Combines structured fields and unstructured data insights (clinical notes, imaging, genomics, biopsies, etc.) from our proprietary LLMs to surface nuanced insights and reduce manual chart review.',
        icon: 'tabler:database-search',
      },
      {
        title: 'Patient Match Scoring Engine',
        description:
          'Each candidate receives a real-time match score based on alignment with inclusion/exclusion criteria, with traceable rationale for site coordinators.',
        icon: 'tabler:stars',
      },
      {
        title: 'Real-Time Patient Tracker',
        description:
          'Manage patient status across the recruitment pipeline, from screening to enrollment, with integrated timelines and update logs.',
        icon: 'tabler:activity',
      },
      {
        title: 'Built-In Metrics Monitoring',
        description:
          'Track recruitment KPIs, enrollment rates, trial timeline dates, and cost-efficiency with real-time dashboards.',
        icon: 'tabler:timeline-event-text',
      },
      {
        title: 'Customizable UI for Research Teams',
        description:
          'Adapt views, filters, and notifications for personalized and intuitive CRC workflows.',
        icon: 'tabler:layout-dashboard',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Benefits to Stakeholders"
    id="stakeholders"
    title="How we enhance the experience across the board"
    items={[
      {
        title: 'Automated Trial Matching',
        description:
          'Uses structured fields and free-text clinical notes to flag likely candidates based on trial-specific parameters.',
      },
      {
        title: 'Centralized Recruitment Tracker',
        description:
          'Provides a real-time dashboard of each patient's status, communication history, and site-level progress across all studies.',
      },
      {
        title: 'Enhanced Insight Extraction',
        description:
          'Our LLMs parse unstructured data to resolve vague or complex eligibility factors, reducing screen failure rates and manual chart review.',
      },
    ]}
    image={{
      src: '~/assets/images/data.png',
      alt: 'Researchers Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Clinical Research Coordinators</h3>
       We streamline recruitment by automating early screening, surfacing relevant insights, and simplifying patient tracking across the trial pipeline.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Better Representation',
        description: 'The platform promotes equitable access by including overlooked demographics and patients with rare or nuanced conditions.',
      },
      {
        title: 'Privacy First',
        description:
          'Patient data is handled with strict HIPAA compliance, and individuals may opt out of future analysis or trial matching at any time.',
      },
      {
        title: 'Empowered Access',
        description:
          'Personalized matching is based on a patient’s real health history and not limited by narrow filters or outdated inclusion logic.',
      },
    ]}
    image={{
      src: '~/assets/images/patients.png',
      alt: 'Patients Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Patients</h3>
       Although not direct users, patients benefit from more accurate, inclusive, and ethical recruitment that aligns with their clinical needs and rights.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Deeper Cohort Insights',
        description:
          'LLMs identify complex or subtle clinical features, such as disease subtypes or comorbidities, from unstructured data to refine inclusion criteria and study populations.',
      },
      {
        title: 'Recruitment Intelligence',
        description:
          'Dashboards track key metrics including enrollment velocity, screen failures, and cost-efficiency, allowing sites and sponsors to adjust strategies in real time.',
      },
      {
        title: 'More Actionable, Generalizable Research',
        description:
          'More representative and well-characterized cohorts enable researchers to generate findings that are both generalizable and more likely to translate into meaningful real-world clinical outcomes.',
      },
    ]}
    image={{
      src: '~/assets/images/sponsor.png',
      alt: 'Sponsors image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sponsors, CROs, and Researchers</h3>
       We support more targeted trial design and efficient execution by enabling earlier identification of real-world patient characteristics, improving data quality and downstream impact.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Step-by-step walkthrough"
    id="walkthrough"
    tagline="How we work"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Sponsor Provides Trial Criteria</span>',
        description:
          "Inclusion/exclusion criteria, preferred demographic profiles, and endpoints are received.",
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Step 2: <span class="font-medium">EHR Integration & Pre-Screening</span>',
        description:
          "The platform scans de-identified EHRs (including free text notes) to identify likely eligible patients.",
        icon: 'tabler:database-search',
      },
      {
        title: 'Step 3: <span class="font-medium">Research Coordinator Dashboard Interface</span>',
        description:
          'CRCs can view patient match scores to specific trials, unstructured insights (family history, biopsies, etc.), and patient enrollment status.',
        icon: 'tabler:layout-board',
      },
      {
        title: 'Step 4: <span class="font-medium">Trial Matching Recommendations</span>',
        description:
          'LLM-generated rationales clarify why a patient is or isn’t a fit for a trial, with guidance for ambiguous cases or additional pre-screening.',
        icon: 'tabler:checkup-list',
      },
      {
        title: 'Step 5: <span class="font-medium">Ongoing Monitoring & Tracking</span>',
        description:
          'Research coordinators can manage communication, update patient status, and track recruitment progress.',
        icon: 'tabler:progress',
      },
    ]}
    image={{
      src: '~/assets/images/steps.png',
      alt: 'Steps image',
    }}
  />

  <Hero
    >
      <Fragment slot="title">
        Demo of Bond Health's Platform
      </Fragment>

      <Fragment slot="subtitle">
        Here, we show how a clinical research coordinator may leverage our platform for automated/improved screening and end-to-end patient tracking throughout the recruitment and enrollment process.
      </Fragment>

      <Fragment slot="image">
        <YouTube id="uY7K3cN08_s" posterQuality="max" title="Bond Health Platform Demo" />
        <style is:inline>lite-youtube { margin: 0 auto; max-width: 100%; }</style>
      </Fragment>
    </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Next steps for our services"
    id="future"
    subtitle="Our commitment to streamlining these processes never stop! Here are current approaches we are working on to enhance our platform and services."
    tagline="Future Directions"
    items={[
      {
        title: 'Multimodal Data Integration',
        description: "Incorporating data beyond standard medical records (wearable device metrics, patient-reported outcomes, social determinants of health, and lifestyle data) to enable more holistic and personalized trial matching.",
        icon: 'flat-color-icons:multiple-smartphones',
      },
      {
        title: 'Patient Retention Scoring',
        description: "Predictive models to identify patients at risk of dropout and enable early intervention.",
        icon: 'flat-color-icons:positive-dynamic',
      },
      {
        title: 'Eligibility Criteria Optimization',
        description:
          'Using real-time cohort insights to help refine inclusion/exclusion criteria and optimize trial protocols for more successful recruitment.',
        icon: 'flat-color-icons:parallel-tasks',
      },
      {
        title: 'Community-Based Site Enablement',
        description: 'Supporting non-academic and community sites with recruitment tools to broaden geographic and demographic reach.',
        icon: 'flat-color-icons:conference-call',
      },
      {
        title: 'Targeted Onboarding Intelligence',
        description: "Collects communication preferences and referral patterns to recommend optimal outreach strategies for engaging physicians and patients more effectively.",
        icon: 'flat-color-icons:collaboration',
      },
      {
        title: 'Advanced Inclusion Criteria Builder',
        description:
          "Enabling researchers to model and test hypothetical cohorts by toggling criteria and thresholds dynamically.",
        icon: 'flat-color-icons:rules',
      },
      {
        title: 'Data Provenance Transparency',
        description: "Allowing users to trace back extracted insights to their original source documents for audit and validation.",
        icon: 'flat-color-icons:data-configuration',
      },
      {
        title: 'Cross-Site Trial Matching',
        description: "Enabling sponsors and CROs to identify eligible patients across multiple sites by harmonizing data formats, eligibility logic, and compliance requirements.",
        icon: 'flat-color-icons:department',
      },
      {
        title: 'International Site Integration',
        description: 'Expanding platform compatibility with international EHR systems and regulatory frameworks to support global research sites and multi-country trials.',
        icon: 'flat-color-icons:globe',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->
  <!-- 
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
  -->
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    id="faqs"
    subtitle="Here are some of the common questions surrounding our company's objectives and logistics."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: "Who is your platform for?",
        description:
          "Bond Health is built for clinical trial research coordinators, as well as CROs and sponsors, to streamline patient screening and recruitment. While patients will benefit indirectly, they are not the users of the platform.",
      },
      {
        title: 'Do patients need to sign up or give consent?',
        description:
          "No, the platform uses de-identified EHR data provided by partnered research institutions, so patients do not need to enroll or take any action. All data use is HIPAA-compliant and handled securely.",
      },
      {
        title: 'How do you make money?',
        description:
          "We operate on a B2B model with subscription and usage-based pricing paid by sponsors and CROs. Pricing is based on trial volume, data access, and site activity.",
      },
      {
        title: 'Can the platform support rare disease or complex trials?',
        description: 'Yes, our proprietary language models extract insights from unstructured data, making them effective for identifying patients with rare or complex conditions. This improves pre-screening precision for even the most targeted studies.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
  <!-- 
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />
  -->

  <!-- CallToAction Widget *********** -->

  <!-- 
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
  -->
</Layout>
