---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Bond — Improving Clinical Trial Patient Recruitment',
  ignoreTitleTemplate: true,
};
---

<style>
.new-line {
  display: block;
}
</style>

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/front-page.png', alt: 'Bonding Clinical Trials' }}
  >
    <Fragment slot="title">
      Improving clinical trial patient
      <span class="new-line">recruitment</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Bond</span> is a startup revolutionizing the current clinical trial patient recruitment process.</span
      >
       After providing consent to access your electronic health records (EHRs), Bond proactively connects you with clinical trials personalized to your patient profile.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Bond's services uniquely provide:"
    subtitle=""
    items={[
      {
        title: 'Proactive Engagement',
        description:
          'Keeping patients informed and involved with current trials fosters a proactive health management approach.',
        icon: 'tabler:mail-fast',
      },
      {
        title: 'Personalized Matching',
        description:
          'Tailored trial matching ensures each patient receives opportunities that are relevant to their specific health conditions.',
        icon: 'tabler:user',
      },
      {
        title: 'Data Security',
        description:
          'Robust protection of patient data is critical to maintaining privacy and trust for the patients providing us with access to their EHR data.',
        icon: 'tabler:cloud-lock',
      },
      {
        title: 'User-Friendly Interface',
        description:
          'Our straightforward interface enables patients of all demographics to get clinical trial communications easily.',
        icon: 'tabler:heart-handshake',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Benefits to Stakeholders"
    id="stakeholders"
    title="How we enhance the experience across the board"
    items={[
      {
        title: 'More Representation for Underrepresented Demographics',
        description:
          'Our service is designed to connect individuals from diverse backgrounds with relevant clinical trials that respect their preferences, providing avenues for individuals to contribute to and benefit from medical research.',
      },
      {
        title: 'Facilitated Access for Complex Conditions',
        description:
          'Simplifying the search process empowers patients with rare or complex conditions to find suitable trials without complications.',
      },
      {
        title: 'Enhanced Understanding of Research',
        description:
          'We provide educational resources to help patients fully understand the research they may participate in, fostering informed decision-making.',
      },
    ]}
    image={{
      src: '~/assets/images/patients.png',
      alt: 'Patients Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Patients</h3>
       Instant access to pertinent clinical trials offers patients potential health benefits and the liberty to decide how they contribute to medical research.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Acquire Data Faster',
        description: `Quicker patient recruitment means studies can start up to 7x faster, accelerating the entire research timeline.`,
      },
      {
        title: 'Access to More Diverse Data Sets',
        description:
          'Diverse patient demographics contribute to richer data sets, essential for comprehensive and conclusive research outcomes.',
      },
      {
        title: 'Produce More Generalizable Findings',
        description:
          "A broad participant base ensures that research findings are more reflective of the population at large, enhancing the applicability of the results.",
      },
    ]}
    image={{
      src: '~/assets/images/data.png',
      alt: 'Researchers Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Researchers</h3>
       Researchers gain invaluable resources and support, enabling them to focus on groundbreaking discoveries and advancements in medicine.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Streamline Patient Recruitment',
        description:
          'Efficient matching processes and patient outreach cut down on the time and cost of recruitment.',
      },
      {
        title: 'Cost-Effective Recruitment',
        description:
          'An optimized recruitment funnel can reduce financial waste by 15 fold, increasing ROI on each trial.',
      },
      {
        title: 'Accelerate R&D Cycles',
        description:
          'Quicker recruitment phases mean sponsors can move faster through the R&D pipeline, staying ahead in a competitive industry.',
      },
    ]}
    image={{
      src: '~/assets/images/sponsor.png',
      alt: 'Sponsors image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sponsors/CROs</h3>
       We streamline the clinical trial process for sponsors and CROs, maximizing their investments and expediting research developments.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Step-by-step walkthrough"
    id="walkthrough"
    tagline="How we work"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Patient provides consent</span>',
        description:
          "Using our patient-interface, patients first have to provide us with consent to access your electronic health record associated with your hospital system.",
        icon: 'tabler:license',
      },
      {
        title: 'Step 2: <span class="font-medium">Data Informatics Team Works with EHR</span>',
        description:
          "Our data informatics team gains access to your encrypted, de-identified EHR data to properly match you with relevant clinical trials.",
        icon: 'tabler:device-analytics',
      },
      {
        title: 'Step 3: <span class="font-medium">Patient receives recurring email communications</span>',
        description:
          'Our team will send you emails once every two weeks to always keep you up-to-date on the clinical trials matching your patient profile.',
        icon: 'tabler:mail',
      },
      {
        title: "Relax while we keep you in the loop!",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/steps.png',
      alt: 'Steps image',
    }}
  />

  <Hero
    >
      <Fragment slot="title">
        Demo using simulated patient data
      </Fragment>

      <Fragment slot="subtitle">
        Here, we show how a user may provide consent and receive email communications from us with clinical trials matching their patient profile.
      </Fragment>

      <Fragment slot="image">
        <YouTube id="EX20mr7Horc" posterQuality="max" title="Video Demo with Simulated EHR Data" />
        <style is:inline>lite-youtube { margin: 0 auto; max-width: 100%; }</style>
      </Fragment>
    </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Next steps for our services"
    id="future"
    subtitle="Our commitment to streamlining these processes never stop! Here are current approaches we are working on to enhance our platform and services."
    tagline="Future Directions"
    items={[
      {
        title: 'Develop Proprietary Database',
        description: "Creating our own database will allow for better queries and more nuanced matching for more relevant and faster trial connections.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Integrate Diverse Data Types',
        description: "Incorporating a broader spectrum of data like imaging, medication, and notes will create a more holistic patient profile for trial matching.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Machine Learning for Trial Predictions',
        description:
          'Applying machine learning will provide insights into clinical trends, aiding sponsors in trial design and patient recruitment.',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'User Feedback Integration',
        description: 'Incorporating patient feedback will help tailor clinical trial opportunities to patient preferences and needs (ex: trials with incentives or within close proximity are most relevant to individual).',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Outreach for Diverse Participation',
        description: "Expanding our reach to ensure that individuals without computer access or those in remote locations can participate in clinical trials.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Detailed Trial Summaries',
        description:
          "Providing patients with comprehensive trial summaries, including contact information and clear explanations of relevance, to enhance understanding and engagement.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Preference-Based Communication',
        description: "Adapting our communication methods to align with user preferences, whether through text, email, or mail, for clinical trial updates and matches.",
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Transparent Data Utilization',
        description: "Allowing patients to view how their data is used will foster transparency and trust in our services.",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Flexible Sponsor Pricing',
        description: 'Offering customized pricing plans for sponsors, reflecting the frequency and scale of their clinical trial engagements.',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->
  <!-- 
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
  -->
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    id="faqs"
    subtitle="Here are some of the common questions surrounding our company's objectives and logistics."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: "Who is your intended user?",
        description:
          "Everyone! From individuals struggling with rare diseases who want to immediately know of clinical studies related to their conditions to individuals who want to participate as control's in more observational studies: Bond wants to reach all individuals who are willing to get onboard and contribute!",
      },
      {
        title: 'How will you make money???',
        description:
          "It will be B2B as we will work with directly with sponsors and clincial research organizations (CROs). We will charge a fixed rate for these organizations to include their clinical trial in our database and then use tiered/usage-based pricing depending on the number of patients they want communicated and the types of conditions their trial encompasses.",
      },
      {
        title: 'Do I need to see a physician to get onboard?',
        description:
          "No! You can access our patient-platform from anywhere and do not need a physician referral to get involved.",
      },
      {
        title: 'Can I opt out of the services?',
        description: 'Yes, you can contact us to unsubscribe from our services and we will remove your EHR data from our database. If you change your mind, you can sign up again at any time.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
  <!-- 
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />
  -->

  <!-- CallToAction Widget *********** -->

  <!-- 
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
  -->
</Layout>
