---
import { SITE } from 'astrowind:config';
import logoImage from '/Users/sammymustafa/Desktop/all/business/bond-website/src/assets/images/blue_circle_logo.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src={logoImage} alt = "Logo" class="inline-block h-6 w-6 mr-2" />{SITE?.name}
</span>